<a href="https://colab.research.google.com/github/junheeyoon/Big-Data-analyst-Study/blob/master/3_1_ML_%EC%B4%88%EA%B8%89.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Workflow
1. Load data
2. Regression

# 1. Load data
분석을 위한 데이터 읽기 작업.

scikit-learn에서 제공하는 데이터 사용

**데이터: Boston Housing data**

![image](https://wikidocs.net/images/page/49966/1.png)

In [1]:
import numpy as np
import pandas as pd
from sklearn import datasets

In [2]:
dataset = datasets.load_boston()
print(dataset.DESCR)

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

In [3]:
X = dataset.data
y = dataset.target

In [4]:
df = pd.DataFrame(X, columns = dataset['feature_names'])
df['MEDV'] = y

In [5]:
df.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  MEDV
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

# 2. 데이터 분할
데이터셋을 학습과 평가셋으로 분할

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3)

# 3. Regression
집 가격 MEDV를 예측하기 위한 회귀 모형 분석

### 1) 모델 선언 및 학습(fit)

In [8]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [9]:
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [10]:
model.score(X_train, y_train)

0.7607422614356644

In [22]:
model.score(X_test, y_test)

0.6683964395061144

### 2) 예측
예측은
- 예측
- 예측에 대한 평가

두가지 단계로 이뤄진다.

집값 예측처럼, 정확한 값을 예측하는 모형의 경우 MSE(Mean Squared Error)를 모델의 평가지표로 사용한다.

In [13]:
# 예측
y_pred = model.predict(X_test)
pd.DataFrame(y_pred)

             0
0    31.080315
1    21.381483
2    17.761803
3    22.104988
4    28.677450
..         ...
147  17.079851
148  14.536577
149  15.122774
150  26.156377
151  31.625611

[152 rows x 1 columns]

In [17]:
# 예측 평가 (MSE)
np.sqrt(np.mean((y_test - y_pred)**2))

4.926044889797805

MSE는 예측값과 실제값의 제곱평균에 제곱근을 취한 값이다. 다시 말하면, 예측값과 실제값의 차이가 평균적으로 `어느정도` 인지를 가늠할 수 있는 수치라고 표현할 수 있다. 위의 결과는, 예측값과 집값의 차이가 평균적으로 4.5(1000$)정도 난다고 할 수 있다.

In [18]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_pred)

3.518948946200829

In [19]:
from sklearn.metrics import mean_squared_error 
mean_squared_error(y_test, y_pred)

24.26591825630307

In [20]:
from sklearn.metrics import mean_squared_error 
MSE = mean_squared_error(y_test, y_pred) 
np.sqrt(MSE)

4.926044889797805

In [21]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.6683964395061144