<a href="https://colab.research.google.com/github/junheeyoon/Big-Data-analyst-Study/blob/master/%EB%B9%85%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D%EA%B8%B0%EC%82%AC_2%EC%9C%A0%ED%98%95_%EC%97%B0%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# 현재 경로 확인
import os
print(os.path.abspath(os.curdir))

# Root 경로 설정
import os
os.chdir('/content/drive/MyDrive/데이터분석')
print(os.path.abspath(os.curdir))

/content
/content/drive/MyDrive/데이터분석

#<문제 정의>

- 고객 3,500명에 대한 학습용 데이터(y_train.csv, X_train.csv)를 이용하여 성별예측 모형을 만든
후, 이를 평가용 데이터(X_test.csv)에 적용하여 얻은 2,482명 고객의 성별 예측값(남자일 확률)을
다음과 같은 형식의 CSV 파일로 생성하시오.(제출한 모델의 성능은 ROC-AUC 평가지표에 따라
채점)

제출형식
 - custid, gender
 - 3500, 0.267
 - 3501, 0.578
 - 3502, 0.885

유의사항
 - 성능이 우수한 예측모형을 구축하기 위해서는 적절한 데이터 전처리, Feature Engineering, 분류
알고리즘 사용, 초매개변수 최적화, 모형 앙상블 등이 수반되어야 한다.

In [ ]:
import pandas as pd
path_to_X_train = './data/2유형/X_train.csv'
path_to_X_test = './data/2유형/X_test.csv'
path_to_y_train = './data/2유형/y_train.csv'
X_train = pd.read_csv(path_to_X_train, encoding='cp949')
X_test = pd.read_csv(path_to_X_test, encoding='cp949')
y_train = pd.read_csv(path_to_y_train, encoding='cp949')

# DataFrame type 확인
X_train.iloc[:,1:]

           총구매액     최대구매액       환불금액   주구매상품  ... 내점일수   내점당구매건수    주말방문비율  구매주기
0      68282840  11264000  6860000.0      기타  ...   19  3.894737  0.527027    17
1       2136000   2136000   300000.0     스포츠  ...    2  1.500000  0.000000     1
2       3197000   1639000        NaN  남성 캐주얼  ...    2  2.000000  0.000000     1
3      16077620   4935000        NaN      기타  ...   18  2.444444  0.318182    16
4      29050000  24000000        NaN      보석  ...    2  1.500000  0.000000    85
...         ...       ...        ...     ...  ...  ...       ...       ...   ...
3495    3175200   3042900        NaN      골프  ...    1  2.000000  1.000000     0
3496   29628600   7200000  6049600.0    시티웨어  ...    8  1.625000  0.461538    40
3497      75000     75000        NaN    주방용품  ...    1  1.000000  0.000000     0
3498    1875000   1000000        NaN     화장품  ...    2  1.000000  0.000000    39
3499  263101550  34632000  5973000.0      기타  ...   38  2.421053  0.467391     8

[3500 rows x 9 columns]

In [ ]:
X_test.iloc[:,1:]

           총구매액     최대구매액        환불금액   주구매상품  ... 내점일수    내점당구매건수    주말방문비율  구매주기
0      70900400  22000000   4050000.0      골프  ...   13   1.461538  0.789474    26
1     310533100  38558000  48034700.0     농산물  ...   90   2.433333  0.369863     3
2     305264140  14825000  30521000.0    가공식품  ...  101  14.623762  0.083277     3
3       7594080   5225000         NaN    주방용품  ...    5   2.000000  0.000000    47
4       1795790   1411200         NaN     수산품  ...    3   2.666667  0.125000     8
...         ...       ...         ...     ...  ...  ...        ...       ...   ...
2477   82581500  23976000         NaN      골프  ...    8   1.750000  0.642857    40
2478     480000    480000         NaN    섬유잡화  ...    1   1.000000  0.000000     0
2479  260003790  25750000         NaN  남성 캐주얼  ...   19   3.736842  0.915493    18
2480   88991520  18120000         NaN      육류  ...    5   3.600000  0.444444    60
2481     623700    209000         NaN    가공식품  ...    2   5.000000  0.000000    31

[2482 rows x 9 columns]

In [ ]:
X_test_custid = X_test.iloc[:,:1]
X_test_custid

      cust_id
0        3500
1        3501
2        3502
3        3503
4        3504
...       ...
2477     5977
2478     5978
2479     5979
2480     5980
2481     5981

[2482 rows x 1 columns]

In [ ]:
y_train.iloc[:,1:]

      gender
0          0
1          0
2          1
3          1
4          0
...      ...
3495       1
3496       1
3497       0
3498       0
3499       0

[3500 rows x 1 columns]

In [ ]:
y_train = y_train.iloc[:,1:]

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le = LabelEncoder()
X_train['주구매상품'] = le.fit_transform(X_train.iloc[:,1:]['주구매상품'])
X_train['주구매지점'] = le.fit_transform(X_train.iloc[:,1:]['주구매지점'])
X_test['주구매상품'] = le.fit_transform(X_test.iloc[:,1:]['주구매상품'])
X_test['주구매지점'] = le.fit_transform(X_test.iloc[:,1:]['주구매지점'])

In [ ]:
X_train.iloc[:,1:]

           총구매액     최대구매액       환불금액  주구매상품  ...  내점일수   내점당구매건수    주말방문비율  구매주기
0      68282840  11264000  6860000.0      5  ...    19  3.894737  0.527027    17
1       2136000   2136000   300000.0     21  ...     2  1.500000  0.000000     1
2       3197000   1639000        NaN      6  ...     2  2.000000  0.000000     1
3      16077620   4935000        NaN      5  ...    18  2.444444  0.318182    16
4      29050000  24000000        NaN     15  ...     2  1.500000  0.000000    85
...         ...       ...        ...    ...  ...   ...       ...       ...   ...
3495    3175200   3042900        NaN      3  ...     1  2.000000  1.000000     0
3496   29628600   7200000  6049600.0     22  ...     8  1.625000  0.461538    40
3497      75000     75000        NaN     32  ...     1  1.000000  0.000000     0
3498    1875000   1000000        NaN     41  ...     2  1.000000  0.000000    39
3499  263101550  34632000  5973000.0      5  ...    38  2.421053  0.467391     8

[3500 rows x 9 columns]

In [ ]:
X_train.isnull().sum()

cust_id       0
총구매액          0
최대구매액         0
환불금액       2295
주구매상품         0
주구매지점         0
내점일수          0
내점당구매건수       0
주말방문비율        0
구매주기          0
dtype: int64

In [ ]:
X_test.isnull().sum()

cust_id       0
총구매액          0
최대구매액         0
환불금액       1611
주구매상품         0
주구매지점         0
내점일수          0
내점당구매건수       0
주말방문비율        0
구매주기          0
dtype: int64

In [ ]:
X_train = X_train.fillna(0)

In [ ]:
X_test = X_test.fillna(0)

In [ ]:
X_train = X_train.iloc[:, 1:]

In [ ]:
X_test = X_test.iloc[:, 1:]

In [ ]:
X_train

           총구매액     최대구매액       환불금액  주구매상품  ...  내점일수   내점당구매건수    주말방문비율  구매주기
0      68282840  11264000  6860000.0      5  ...    19  3.894737  0.527027    17
1       2136000   2136000   300000.0     21  ...     2  1.500000  0.000000     1
2       3197000   1639000        0.0      6  ...     2  2.000000  0.000000     1
3      16077620   4935000        0.0      5  ...    18  2.444444  0.318182    16
4      29050000  24000000        0.0     15  ...     2  1.500000  0.000000    85
...         ...       ...        ...    ...  ...   ...       ...       ...   ...
3495    3175200   3042900        0.0      3  ...     1  2.000000  1.000000     0
3496   29628600   7200000  6049600.0     22  ...     8  1.625000  0.461538    40
3497      75000     75000        0.0     32  ...     1  1.000000  0.000000     0
3498    1875000   1000000        0.0     41  ...     2  1.000000  0.000000    39
3499  263101550  34632000  5973000.0      5  ...    38  2.421053  0.467391     8

[3500 rows x 9 columns]

In [ ]:
pd.concat([X_train, y_train], axis=1).corr()

             총구매액     최대구매액      환불금액  ...      구매주기   cust_id    gender
총구매액     1.000000  0.700080  0.467686  ... -0.212944 -0.008004 -0.150141
최대구매액    0.700080  1.000000  0.429504  ... -0.115837 -0.005883 -0.114323
환불금액     0.467686  0.429504  1.000000  ... -0.137362  0.033116 -0.114327
주구매상품   -0.082916 -0.090729 -0.056604  ...  0.032469  0.003129 -0.038668
주구매지점   -0.038724 -0.024819 -0.045686  ...  0.035344  0.006345  0.015876
내점일수     0.659084  0.374147  0.377570  ... -0.293200 -0.025234 -0.155000
내점당구매건수  0.090022  0.018980 -0.003871  ... -0.091151 -0.004840 -0.043917
주말방문비율   0.014396  0.022277 -0.024707  ...  0.003372  0.001900  0.073598
구매주기    -0.212944 -0.115837 -0.137362  ...  1.000000  0.020070  0.041450
cust_id -0.008004 -0.005883  0.033116  ...  0.020070  1.000000 -0.001994
gender  -0.150141 -0.114323 -0.114327  ...  0.041450 -0.001994  1.000000

[11 rows x 11 columns]

In [ ]:
X_test

           총구매액     최대구매액        환불금액  주구매상품  ...  내점일수    내점당구매건수    주말방문비율  구매주기
0      70900400  22000000   4050000.0      3  ...    13   1.461538  0.789474    26
1     310533100  38558000  48034700.0      9  ...    90   2.433333  0.369863     3
2     305264140  14825000  30521000.0      0  ...   101  14.623762  0.083277     3
3       7594080   5225000         0.0     31  ...     5   2.000000  0.000000    47
4       1795790   1411200         0.0     19  ...     3   2.666667  0.125000     8
...         ...       ...         ...    ...  ...   ...        ...       ...   ...
2477   82581500  23976000         0.0      3  ...     8   1.750000  0.642857    40
2478     480000    480000         0.0     17  ...     1   1.000000  0.000000     0
2479  260003790  25750000         0.0      6  ...    19   3.736842  0.915493    18
2480   88991520  18120000         0.0     26  ...     5   3.600000  0.444444    60
2481     623700    209000         0.0      0  ...     2   5.000000  0.000000    31

[2482 rows x 9 columns]

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestClassifier

In [ ]:
# LR
model = LogisticRegression()
model.fit(X_train, y_train)
print('LR Training Acc: ', model.score(X_train, y_train))

predict = model.predict_proba(X_test)
predict = pd.DataFrame(predict)
print(predict)

LR Training Acc:  0.624
             0         1
0     0.574768  0.425232
1     0.801014  0.198986
2     0.761058  0.238942
3     0.509389  0.490611
4     0.502357  0.497643
...        ...       ...
2477  0.576059  0.423941
2478  0.500710  0.499290
2479  0.692346  0.307654
2480  0.576026  0.423974
2481  0.500601  0.499399

[2482 rows x 2 columns]

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
answer = pd.concat([X_test_custid, predict.iloc[:,1]], axis=1)

In [ ]:
answer.columns=['custid', 'gender']

In [ ]:
answer.to_csv('./data/2유형/y_test.csv', index=False)

In [ ]:
# MLP
model = MLPClassifier()
model.fit(X_train, y_train)
print('MLP Training Acc: ', model.score(X_train, y_train))

predict = model.predict_proba(X_test)
predict = pd.DataFrame(predict)
print(predict)

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:934: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MLP Training Acc:  0.4357142857142857
        0    1
0     0.0  1.0
1     1.0  0.0
2     0.0  1.0
3     0.0  1.0
4     0.0  1.0
...   ...  ...
2477  0.0  1.0
2478  0.0  1.0
2479  0.0  1.0
2480  0.0  1.0
2481  0.0  1.0

[2482 rows x 2 columns]

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:571: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

In [ ]:
# RandomForest
model = RandomForestClassifier()
model.fit(X_train, y_train)
print('RandomForest Training Acc: ', model.score(X_train, y_train))

predict = model.predict_proba(X_test)
predict = pd.DataFrame(predict)
print(predict)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

RandomForest Training Acc:  0.9994285714285714
         0     1
0     0.47  0.53
1     0.81  0.19
2     0.86  0.14
3     0.49  0.51
4     0.64  0.36
...    ...   ...
2477  0.26  0.74
2478  0.52  0.48
2479  0.43  0.57
2480  0.49  0.51
2481  0.33  0.67

[2482 rows x 2 columns]

In [ ]:
from sklearn.preprocessing import StandardScaler

ss = StandardScaler()
X_train = ss.fit_transform(X_train)

In [ ]:
X_test = ss.fit_transform(X_test)

In [ ]:
X_train = pd.DataFrame(X_train)
X_test = pd.DataFrame(X_test)

In [ ]:
# LR
model = LogisticRegression()
model.fit(X_train, y_train)
print('LR Training Acc: ', model.score(X_train, y_train))

predict = model.predict_proba(X_test)
predict = pd.DataFrame(predict)
print(predict)

LR Training Acc:  0.6334285714285715
             0         1
0     0.496455  0.503545
1     0.813091  0.186909
2     0.883819  0.116181
3     0.654515  0.345485
4     0.586363  0.413637
...        ...       ...
2477  0.510151  0.489849
2478  0.575373  0.424627
2479  0.569434  0.430566
2480  0.630340  0.369660
2481  0.571758  0.428242

[2482 rows x 2 columns]

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
total_df = pd.concat([X_train, X_test])

In [ ]:
from sklearn.preprocessing import StandardScaler

ss = StandardScaler()
total_df = ss.fit_transform(total_df)

In [ ]:
total_df = pd.DataFrame(total_df)

In [ ]:
tt = total_df.iloc[:3500,:]

In [ ]:
y_train.iloc[:,1:]

      gender
0          0
1          0
2          1
3          1
4          0
...      ...
3495       1
3496       1
3497       0
3498       0
3499       0

[3500 rows x 1 columns]

In [ ]:
# LR
model = LogisticRegression()
model.fit(tt, y_train.iloc[:,1:])
print('LR Training Acc: ', model.score(tt, y_train.iloc[:,1:]))

predict = model.predict_proba(total_df.iloc[3500:,:])
predict = pd.DataFrame(predict)
print(predict)

LR Training Acc:  0.6334285714285715
             0         1
0     0.503077  0.496923
1     0.821380  0.178620
2     0.881882  0.118118
3     0.651606  0.348394
4     0.585131  0.414869
...        ...       ...
2477  0.515389  0.484611
2478  0.575862  0.424138
2479  0.574804  0.425196
2480  0.629514  0.370486
2481  0.570859  0.429141

[2482 rows x 2 columns]

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [9]:
import time

from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression
from sklearn import ensemble
from xgboost import XGBClassifier

from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
import pandas as pd
from sklearn.preprocessing import LabelEncoder

from sklearn.linear_model import LogisticRegression
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestClassifier

MLA = [
    
    #linear
    LogisticRegression(),

    #Ensemble Methods
    ensemble.AdaBoostClassifier(),
    ensemble.BaggingClassifier(),
    ensemble.ExtraTreesClassifier(),
    ensemble.GradientBoostingClassifier(),
    ensemble.RandomForestClassifier(),

    #xgboost
    XGBClassifier()
]

MLA_columns = ['MLA Name', 'MLA R2', 'time']
MLA_compare = pd.DataFrame(columns = MLA_columns)

row_index = 0
for i in MLA:
    start = time.time()
    path_to_X_train = './data/2유형/X_train.csv'
    path_to_X_test = './data/2유형/X_test.csv'
    path_to_y_train = './data/2유형/y_train.csv'
    X_train = pd.read_csv(path_to_X_train, encoding='cp949')
    X_test = pd.read_csv(path_to_X_test, encoding='cp949')
    y_train = pd.read_csv(path_to_y_train, encoding='cp949')

    X_test_custid = X_test.iloc[:,:1]
    y_train = y_train.iloc[:,1:]

    le = LabelEncoder()
    X_train['주구매상품'] = le.fit_transform(X_train.iloc[:,1:]['주구매상품'])
    X_train['주구매지점'] = le.fit_transform(X_train.iloc[:,1:]['주구매지점'])
    X_test['주구매상품'] = le.fit_transform(X_test.iloc[:,1:]['주구매상품'])
    X_test['주구매지점'] = le.fit_transform(X_test.iloc[:,1:]['주구매지점'])

    X_train = X_train.fillna(0)
    X_test = X_test.fillna(0)
    X_train = X_train.iloc[:, 1:]
    X_test = X_test.iloc[:, 1:]

    model = i
    model.fit(X_train,y_train)
    y_predict = model.predict(X_test)
    MLA_compare.loc[row_index, 'MLA Name'] = str(model).split('(')[0]
    MLA_compare.loc[row_index, 'MLA R2'] = model.score(X_train, y_train)
     

    predict = model.predict_proba(X_test)
    predict = pd.DataFrame(predict)
    
    answer = pd.concat([X_test_custid, predict.iloc[:,1]], axis=1)
    answer.columns=['custid', 'gender']
    answer.to_csv('./data/2유형/y_test.csv', index=False)
    MLA_compare.loc[row_index, 'time'] = time.time() - start
    row_index += 1

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_bagging.py:645: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:268: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [10]:
MLA_compare.sort_values(by=['MLA R2'], ascending=False)

                     MLA Name    MLA R2       time
3        ExtraTreesClassifier  0.999429   0.784543
5      RandomForestClassifier  0.999429    1.00516
2           BaggingClassifier  0.973429   0.245023
4  GradientBoostingClassifier  0.708571   0.770749
6               XGBClassifier  0.695429   0.298604
1          AdaBoostClassifier  0.671429   0.405861
0          LogisticRegression     0.624  0.0876102