<a href="https://colab.research.google.com/github/junheeyoon/Big-Data-analyst-Study/blob/master/%EB%B9%85%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D%EA%B8%B0%EC%82%AC_2%EC%9C%A0%ED%98%95_%EC%97%B0%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
# 현재 경로 확인
import os
print(os.path.abspath(os.curdir))

# Root 경로 설정
import os
os.chdir('/content/drive/MyDrive/데이터분석')
print(os.path.abspath(os.curdir))

/content
/content/drive/MyDrive/데이터분석

#<문제 정의>

- 고객 3,500명에 대한 학습용 데이터(y_train.csv, X_train.csv)를 이용하여 성별예측 모형을 만든
후, 이를 평가용 데이터(X_test.csv)에 적용하여 얻은 2,482명 고객의 성별 예측값(남자일 확률)을
다음과 같은 형식의 CSV 파일로 생성하시오.(제출한 모델의 성능은 ROC-AUC 평가지표에 따라
채점)

제출형식
 - custid, gender
 - 3500, 0.267
 - 3501, 0.578
 - 3502, 0.885

유의사항
 - 성능이 우수한 예측모형을 구축하기 위해서는 적절한 데이터 전처리, Feature Engineering, 분류
알고리즘 사용, 초매개변수 최적화, 모형 앙상블 등이 수반되어야 한다.

In [69]:
import pandas as pd
path_to_X_train = './data/2유형/X_train.csv'
path_to_X_test = './data/2유형/X_test.csv'
path_to_y_train = './data/2유형/y_train.csv'
X_train = pd.read_csv(path_to_X_train, encoding='cp949')
X_test = pd.read_csv(path_to_X_test, encoding='cp949')
y_train = pd.read_csv(path_to_y_train, encoding='cp949')

# DataFrame type 확인
X_train.iloc[:,1:]

           총구매액     최대구매액       환불금액   주구매상품  ... 내점일수   내점당구매건수    주말방문비율  구매주기
0      68282840  11264000  6860000.0      기타  ...   19  3.894737  0.527027    17
1       2136000   2136000   300000.0     스포츠  ...    2  1.500000  0.000000     1
2       3197000   1639000        NaN  남성 캐주얼  ...    2  2.000000  0.000000     1
3      16077620   4935000        NaN      기타  ...   18  2.444444  0.318182    16
4      29050000  24000000        NaN      보석  ...    2  1.500000  0.000000    85
...         ...       ...        ...     ...  ...  ...       ...       ...   ...
3495    3175200   3042900        NaN      골프  ...    1  2.000000  1.000000     0
3496   29628600   7200000  6049600.0    시티웨어  ...    8  1.625000  0.461538    40
3497      75000     75000        NaN    주방용품  ...    1  1.000000  0.000000     0
3498    1875000   1000000        NaN     화장품  ...    2  1.000000  0.000000    39
3499  263101550  34632000  5973000.0      기타  ...   38  2.421053  0.467391     8

[3500 rows x 9 columns]

In [70]:
X_test.iloc[:,1:]

           총구매액     최대구매액        환불금액   주구매상품  ... 내점일수    내점당구매건수    주말방문비율  구매주기
0      70900400  22000000   4050000.0      골프  ...   13   1.461538  0.789474    26
1     310533100  38558000  48034700.0     농산물  ...   90   2.433333  0.369863     3
2     305264140  14825000  30521000.0    가공식품  ...  101  14.623762  0.083277     3
3       7594080   5225000         NaN    주방용품  ...    5   2.000000  0.000000    47
4       1795790   1411200         NaN     수산품  ...    3   2.666667  0.125000     8
...         ...       ...         ...     ...  ...  ...        ...       ...   ...
2477   82581500  23976000         NaN      골프  ...    8   1.750000  0.642857    40
2478     480000    480000         NaN    섬유잡화  ...    1   1.000000  0.000000     0
2479  260003790  25750000         NaN  남성 캐주얼  ...   19   3.736842  0.915493    18
2480   88991520  18120000         NaN      육류  ...    5   3.600000  0.444444    60
2481     623700    209000         NaN    가공식품  ...    2   5.000000  0.000000    31

[2482 rows x 9 columns]

In [72]:
X_test_custid = X_test.iloc[:,:1]
X_test_custid

      cust_id
0        3500
1        3501
2        3502
3        3503
4        3504
...       ...
2477     5977
2478     5978
2479     5979
2480     5980
2481     5981

[2482 rows x 1 columns]

In [73]:
y_train.iloc[:,1:]

      gender
0          0
1          0
2          1
3          1
4          0
...      ...
3495       1
3496       1
3497       0
3498       0
3499       0

[3500 rows x 1 columns]

In [74]:
y_train = y_train.iloc[:,1:]

In [75]:
from sklearn.preprocessing import LabelEncoder

In [76]:
le = LabelEncoder()
X_train['주구매상품'] = le.fit_transform(X_train.iloc[:,1:]['주구매상품'])
X_train['주구매지점'] = le.fit_transform(X_train.iloc[:,1:]['주구매지점'])
X_test['주구매상품'] = le.fit_transform(X_test.iloc[:,1:]['주구매상품'])
X_test['주구매지점'] = le.fit_transform(X_test.iloc[:,1:]['주구매지점'])

In [77]:
X_train.iloc[:,1:]

           총구매액     최대구매액       환불금액  주구매상품  ...  내점일수   내점당구매건수    주말방문비율  구매주기
0      68282840  11264000  6860000.0      5  ...    19  3.894737  0.527027    17
1       2136000   2136000   300000.0     21  ...     2  1.500000  0.000000     1
2       3197000   1639000        NaN      6  ...     2  2.000000  0.000000     1
3      16077620   4935000        NaN      5  ...    18  2.444444  0.318182    16
4      29050000  24000000        NaN     15  ...     2  1.500000  0.000000    85
...         ...       ...        ...    ...  ...   ...       ...       ...   ...
3495    3175200   3042900        NaN      3  ...     1  2.000000  1.000000     0
3496   29628600   7200000  6049600.0     22  ...     8  1.625000  0.461538    40
3497      75000     75000        NaN     32  ...     1  1.000000  0.000000     0
3498    1875000   1000000        NaN     41  ...     2  1.000000  0.000000    39
3499  263101550  34632000  5973000.0      5  ...    38  2.421053  0.467391     8

[3500 rows x 9 columns]

In [78]:
X_train.isnull().sum()

cust_id       0
총구매액          0
최대구매액         0
환불금액       2295
주구매상품         0
주구매지점         0
내점일수          0
내점당구매건수       0
주말방문비율        0
구매주기          0
dtype: int64

In [79]:
X_test.isnull().sum()

cust_id       0
총구매액          0
최대구매액         0
환불금액       1611
주구매상품         0
주구매지점         0
내점일수          0
내점당구매건수       0
주말방문비율        0
구매주기          0
dtype: int64

In [80]:
X_train = X_train.fillna(0)

In [81]:
X_test = X_test.fillna(0)

In [82]:
X_train = X_train.iloc[:, 1:]

In [83]:
X_test = X_test.iloc[:, 1:]

In [84]:
X_train

           총구매액     최대구매액       환불금액  주구매상품  ...  내점일수   내점당구매건수    주말방문비율  구매주기
0      68282840  11264000  6860000.0      5  ...    19  3.894737  0.527027    17
1       2136000   2136000   300000.0     21  ...     2  1.500000  0.000000     1
2       3197000   1639000        0.0      6  ...     2  2.000000  0.000000     1
3      16077620   4935000        0.0      5  ...    18  2.444444  0.318182    16
4      29050000  24000000        0.0     15  ...     2  1.500000  0.000000    85
...         ...       ...        ...    ...  ...   ...       ...       ...   ...
3495    3175200   3042900        0.0      3  ...     1  2.000000  1.000000     0
3496   29628600   7200000  6049600.0     22  ...     8  1.625000  0.461538    40
3497      75000     75000        0.0     32  ...     1  1.000000  0.000000     0
3498    1875000   1000000        0.0     41  ...     2  1.000000  0.000000    39
3499  263101550  34632000  5973000.0      5  ...    38  2.421053  0.467391     8

[3500 rows x 9 columns]

In [85]:
X_test

           총구매액     최대구매액        환불금액  주구매상품  ...  내점일수    내점당구매건수    주말방문비율  구매주기
0      70900400  22000000   4050000.0      3  ...    13   1.461538  0.789474    26
1     310533100  38558000  48034700.0      9  ...    90   2.433333  0.369863     3
2     305264140  14825000  30521000.0      0  ...   101  14.623762  0.083277     3
3       7594080   5225000         0.0     31  ...     5   2.000000  0.000000    47
4       1795790   1411200         0.0     19  ...     3   2.666667  0.125000     8
...         ...       ...         ...    ...  ...   ...        ...       ...   ...
2477   82581500  23976000         0.0      3  ...     8   1.750000  0.642857    40
2478     480000    480000         0.0     17  ...     1   1.000000  0.000000     0
2479  260003790  25750000         0.0      6  ...    19   3.736842  0.915493    18
2480   88991520  18120000         0.0     26  ...     5   3.600000  0.444444    60
2481     623700    209000         0.0      0  ...     2   5.000000  0.000000    31

[2482 rows x 9 columns]

In [86]:
from sklearn.linear_model import LogisticRegression
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestClassifier

In [87]:
# LR
model = LogisticRegression()
model.fit(X_train, y_train)
print('LR Training Acc: ', model.score(X_train, y_train))

predict = model.predict_proba(X_test)
predict = pd.DataFrame(predict)
print(predict)

LR Training Acc:  0.624
             0         1
0     0.574768  0.425232
1     0.801014  0.198986
2     0.761058  0.238942
3     0.509389  0.490611
4     0.502357  0.497643
...        ...       ...
2477  0.576059  0.423941
2478  0.500710  0.499290
2479  0.692346  0.307654
2480  0.576026  0.423974
2481  0.500601  0.499399

[2482 rows x 2 columns]

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [89]:
answer = pd.concat([X_test_custid, predict.iloc[:,1]], axis=1)

In [91]:
answer.columns=['custid', 'gender']

In [94]:
answer.to_csv('./data/2유형/y_test.csv', index=False)