<a href="https://colab.research.google.com/github/junheeyoon/Big-Data-analyst-Study/blob/master/%EC%8B%A4%EC%8A%B5%202%ED%9A%8C%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

1. 문제
앙상블 모형 중 하나로써 데이터에서 bagging 기법으로 샘플링해 여러 Decision Tree 를 만들어 평균 치를 내는 기법을 나타내는 말은?

In [ ]:
print("랜덤포레스트")

랜덤포레스트

2. 문제
boston dataset을 가지고 회귀분석을 진행했을 때 회귀식의 절편값을 구하여라.
(소수 셋째자리에서 반올림) 

use sklearn, pandas, numpy

from sklearn import datasets

boston = datasets.load_boston()

boston_df= pd.DataFrame(boston.data, columns = boston.feature_names)

boston_df["PRICE"] = pd.DataFrame(boston.target)
boston_df

x = boston_df[['CRIM','RM','LSTAT']]

y = boston_df['PRICE']

In [ ]:
from sklearn import datasets
import pandas as pd

boston = datasets.load_boston()

boston_df= pd.DataFrame(boston.data, columns = boston.feature_names)

boston_df["PRICE"] = pd.DataFrame(boston.target)
boston_df

x = boston_df[['CRIM','RM','LSTAT']]

y = boston_df['PRICE']

In [ ]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x,y)
print(lr.intercept_)

-2.5622510119283533

3. 문제


#fpr : false Positive rate, tpr : true positive rate
- 대출을 해줄 수 있는지 여부 판단

data_set =  https://www.kaggle.com/iconoclash/personal-loan-dataset-binary-classification

target : Personal Loan


데이터셋을 가지고 f1-score 값을 출력. (accuracy까지)

In [118]:
import pandas as pd
import numpy as np
#Common Model Algorithms
from sklearn import svm, tree, linear_model, neighbors, naive_bayes, ensemble, discriminant_analysis, gaussian_process, neural_network

from sklearn.metrics import f1_score, accuracy_score
from sklearn.model_selection import train_test_split

In [108]:
df = pd.read_csv('/content/drive/MyDrive/빅분기실기스터디/문제/data/Personal_Loan.csv', encoding = 'cp949')
df

        ID  Age  Experience  ...  CD Account  Online  CreditCard
0        1   25           1  ...           0       0           0
1        2   45          19  ...           0       0           0
2        3   39          15  ...           0       0           0
3        4   35           9  ...           0       0           0
4        5   35           8  ...           0       0           1
...    ...  ...         ...  ...         ...     ...         ...
2495  2496   46          22  ...           0       0           1
2496  2497   63          37  ...           0       0           0
2497  2498   33           9  ...           0       0           0
2498  2499   38          14  ...           0       0           0
2499  2500   53          27  ...           0       1           0

[2500 rows x 14 columns]

In [109]:
x = df.iloc[:,1:].drop(['Personal Loan', 'ZIP Code'], axis=1)

In [110]:
y = df['Personal Loan']

In [111]:
x_train, x_test, y_train, y_test  = train_test_split(x, y,test_size = 0.3)

In [119]:
MLA = [
    #Ensemble Methods
    ensemble.AdaBoostClassifier(),
    ensemble.BaggingClassifier(),
    ensemble.ExtraTreesClassifier(),
    ensemble.GradientBoostingClassifier(),
    ensemble.RandomForestClassifier(),

    #Gaussian Processes
    gaussian_process.GaussianProcessClassifier(),
    
    #GLM
    linear_model.PassiveAggressiveClassifier(),
    linear_model.RidgeClassifierCV(),
    linear_model.SGDClassifier(),
    linear_model.Perceptron(),
    
    #Navies Bayes
    naive_bayes.BernoulliNB(),
    naive_bayes.GaussianNB(),
    
    #Nearest Neighbor
    neighbors.KNeighborsClassifier(),
    
    #SVM
    svm.SVC(probability=True),
    svm.LinearSVC(),
    
    #Trees    
    tree.DecisionTreeClassifier(),
    tree.ExtraTreeClassifier(),
    
    #Discriminant Analysis
    discriminant_analysis.LinearDiscriminantAnalysis(),
    discriminant_analysis.QuadraticDiscriminantAnalysis(),

    
    #Neural_network
    neural_network.MLPClassifier()
    ]

In [120]:
MLA_columns = ['MLA Name', 'MLA Acc','MLA F1_Score']
MLA_compare = pd.DataFrame(columns = MLA_columns)

In [121]:
row_index = 0
for i in MLA:
    model = i
    model.fit(x_train,y_train)
    y_predict = model.predict(x_test)
    f1 = f1_score(y_test,y_predict)
    acc = accuracy_score(y_test,y_predict)
    MLA_compare.loc[row_index, 'MLA Name'] = str(model).split('(')[0]
    MLA_compare.loc[row_index, 'MLA Acc'] = round(acc,2)
    MLA_compare.loc[row_index, 'MLA F1_Score'] = round(f1,2)
    row_index += 1

/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

In [123]:
MLA_compare.sort_values(by=['MLA Acc', 'MLA F1_Score'], ascending=False)

                         MLA Name MLA Acc MLA F1_Score
3      GradientBoostingClassifier    0.99         0.93
1               BaggingClassifier    0.98         0.91
4          RandomForestClassifier    0.98         0.91
2            ExtraTreesClassifier    0.98          0.9
15         DecisionTreeClassifier    0.97         0.85
0              AdaBoostClassifier    0.96         0.79
17     LinearDiscriminantAnalysis    0.95         0.72
19                  MLPClassifier    0.95         0.69
16            ExtraTreeClassifier    0.94         0.73
14                      LinearSVC    0.94         0.57
18  QuadraticDiscriminantAnalysis    0.93         0.68
7               RidgeClassifierCV    0.93         0.54
8                   SGDClassifier    0.92         0.37
12           KNeighborsClassifier    0.91         0.52
13                            SVC    0.91         0.22
5       GaussianProcessClassifier     0.9         0.45
11                     GaussianNB    0.89         0.53
10                    BernoulliNB    0.89         0.28
6     PassiveAggressiveClassifier    0.76         0.45
9                      Perceptron    0.69         0.36