<a href="https://colab.research.google.com/github/junheeyoon/Big-Data-analyst-Study/blob/master/%EC%8B%A4%EC%8A%B5%204%ED%9A%8C%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

1. 문제

 - 1. 분석 주체 유형을 분류할 때 데이터 분석 방법과 다양한 분석 구조의 활용은 충분히 이해하고
있으나, 조직 내 분석 대상이 무엇인지 인지하지 못하는 유형은 무엇인가?
 - 2. 문제가 주어지고 이에 대한 해법을 찾기 위하여 각 과정이 체계적으로 단계화되어 수행하는
분석과제 발굴 방식을 무엇이라 하는가?
 - 3. 단층 신경망인 퍼셉트론에서 최종 목표값은 활성함수에 의해 결정되는데 다양한 활성함수 중
출력값이 여러 개로 주어지고, 목표치가 다범주인 경우 각 범주에 속할 사후확률을 제공하는
함수는 무엇인가?
 - 4. 모형을 개발하여 운영상황에서 실제 테스트를 할 때 모형 개발 데이터를 통해서는 높은 적중
률을 보이지만 테스트 데이터에서는 적중률이 떨어져 적중률을 유지하지 못하는 것을 무엇이
라고 하는가?
 - 5. 앙상블 기법 중 부트스트랩 표본을 구성하는 재표본 과정에서 분류가 잘못된 데이터에 더 큰
가중치를 주어 표본을 추출하는 기법은?
 - 6. 원 데이터 집합으로부터 크기가 같은 표본을 여러 번 단순 임의 복원 추출하여 각 표본에 대해
분류기를 생성한 후 그 결과를 앙상블하는 방법은?
 - 7. 한 변수를 단조 증가 함수로 변환하여 다른 변수를 나타낼 수 있는 정도를 나타내며 두 변수의
션형 관계의 크기 뿐만 아니라 비선형적인 관계도 나타낼 수 있는 상관계수는 무엇인가?
 - 8. 입력층이 직접 출력층에 연결되는 단층신경망에서 활성함수를 (????)로 사용하면 로지스틱 회
귀 모형과 작동원리가 유사해진다.
 - 9. 데이터가 가지고 있는 특성을 파악하기 위해 해당 변수의 분포등을 시각화하여 분석하는 분석
방식은 무엇인가?

In [2]:
print("1. insight(통찰)")
print("2. 하향식 접근 방식")
print("3. softmax(소프트맥스)")
print("4. overfitting(과대적합/과적합)")
print("5. boosting(부스팅)")
print("6. bagging(배깅)")
print("7. spearman correlation(스피어만 상관계수)")
print("8. sigmoid(시그모이드 함수)")
print("9. EDA(탐색적 자료[데이터] 분석)")

1. insight(통찰)
2. 하향식 접근 방식
3. softmax(소프트맥스)
4. overfitting(과대적합/과적합)
5. boosting(부스팅)
6. bagging(배깅)
7. spearman correlation(스피어만 상관계수)
8. sigmoid(시그모이드 함수)
9. EDA(탐색적 자료[데이터] 분석)

2. 문제

In [42]:
import pandas as pd 
df = pd.read_csv('/content/drive/MyDrive/빅분기실기스터디/문제/data/titanic.csv', encoding='cp949')

## 1. 타이타닉 데이터, '나이'에 대해서, z-score nomalization 할 것

 - zscore 값은 AgeZscore 컬럼으로(Null 값 제거)
 - 최종 결과는 PassengerId(index), AgeZscore을 출력할 것

In [5]:
from scipy.stats import zscore

In [14]:
new_df = df[['PassengerId', 'Age']]

In [15]:
new_df = new_df.dropna()

In [16]:
new_df['AgeZscore'] = zscore(new_df['Age'])

In [19]:
new_df[['PassengerId', 'AgeZscore']].set_index('PassengerId')

             AgeZscore
PassengerId
1            -0.530377
2             0.571831
3            -0.254825
4             0.365167
5             0.365167
...                ...
886           0.640719
887          -0.185937
888          -0.737041
890          -0.254825
891           0.158503

[714 rows x 1 columns]

## 2. 타이타닉 데이터, 'Name(이름), Cabin'을 제외한 나머지 feature들의 correlation 구하기
  - Category 요소들의 encoding은 좋은 방법으로 알아서 할 것
  - 'Survived'와 상관계수 가장 높은 feature와 가장 낮은 feature 찾기

In [43]:
df = df.drop(['Name', 'Cabin'], axis=1)

In [44]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Embarked        object
dtype: object

In [45]:
df = df.dropna()

In [46]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['Sex'] = le.fit_transform(df['Sex'])
df['Ticket'] = le.fit_transform(df['Ticket'])
df['Embarked'] = le.fit_transform(df['Embarked'])

In [59]:
df.corr()['Survived'].abs().sort_values(ascending=False)[1:2]

Sex    0.536762
Name: Survived, dtype: float64