<a href="https://colab.research.google.com/github/junheeyoon/Big-Data-analyst-Study/blob/master/%EC%8B%A4%EC%8A%B5%203%ED%9A%8C%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# 1. 문제 단답형 10문제

1. 주어진 데이터에서 마진을 최대화 하는 초평면을 구하는 방법으로 학습하는 알고리즘은? 

2. 긍정으로 예측한 범주에서 실제로 긍정인 비율을 무엇이라고 하는가? 

3. 1-특이도로 계산되며, 실제로 부정인 범주에서 긍정으로 잘못예측한 비율을 무엇이라고 하는가? 

4. 참긍정률이라고하며, 실제로 긍정인 범주에서 긍정으로 예측한 비율을 무엇이라고 하나.

5. 스트리밍 데이터 흐름(Data Flow)을 비동기 방식으로 처리하는 분산형 로그 수집 기술

6.  네트워크를 통해 센서 데이터 및 오디오, 비디오 등의 미디어 데이터를 실시간으로 수집하는 기술

7. 기존의 변수를 조합해 만든 새로운 변수로 특정 의미를 갖는 작위적 의미의 변수는?

8. 프라이버시보호모델 중 특정인임을 추론할 수 있는지 여부를 검토, 일정 확률수준 이상 비식별되도록 하는 기법은?

9. 자연어 처리 기술을 이용해 인간의 언어로 쓰인 비정형  텍스트에서 유용한 정보를 추출하거나 다른 데이터와의 연관성을 파악하기 위한 방법은

In [3]:
print("1. SVM")
print("2. precision")
print("3. 거짓긍정률")
print("4. recall")
print("5. 플럼")
print("6. 센싱")
print("7. 파생변수")
print("8. k-익명성")
print("9. 텍스트마이닝")

1. SVM
2. precision
3. 거짓긍정률
4. recall
5. 플럼
6. 센싱
7. 파생변수
8. k-익명성
9. 텍스트마이닝

2. 문제

In [4]:
import pandas as pd 
df = pd.read_csv('/content/drive/MyDrive/빅분기실기스터디/문제/data/CARD_SUBWAY_MONTH_202104.csv',index_col=False)

In [5]:
df

           사용일자  노선명       역명  승차총승객수  하차총승객수      등록일자
0      20210401  3호선     동대입구    8395    9328  20210404
1      20210401  2호선       시청   24312   23538  20210404
2      20210401  2호선    을지로입구   37818   39073  20210404
3      20210401  2호선    을지로3가   21370   21065  20210404
4      20210401  2호선    을지로4가   12908   12727  20210404
...         ...  ...      ...     ...     ...       ...
18036  20210430  수인선       숭의    4081    3764  20210503
18037  20210430  수인선      인하대    6337    5793  20210503
18038  20210430  수인선       송도    2642    2460  20210503
18039  20210430  수인선       연수    4752    4695  20210503
18040  20210430  수인선  남동인더스파크    2283    2601  20210503

[18041 rows x 6 columns]

q1) 사용일자 - 호선 승차 총승객수의 상관관계가 가장높은 두 노선과 그 상관계수를 구하여라

In [26]:
import numpy as np

In [29]:
df['총승객수'] = df['승차총승객수'] + df['하차총승객수']

In [38]:
p = pd.pivot_table(df, values='총승객수', index='사용일자', columns='노선명', aggfunc=np.sum).reset_index()
p = p.set_index('사용일자')

In [39]:
p

노선명          1호선      2호선      3호선     4호선  ...  우이신설선     일산선    장항선     중앙선
사용일자                                        ...
20210401  428996  2666941   999416  952956  ...  84831  208921  22877  177587
20210402  449451  2768478  1055238  979732  ...  86958  214913  27369  184117
20210403  241843  1551271   605658  565689  ...  51310  123881  17105  112485
20210404  221177  1215845   473578  468075  ...  49824  105481  19424  105381
20210405  423177  2598229   974128  929897  ...  84520  208966  23334  179968
20210406  429981  2664022   993792  946644  ...  85175  211121  23594  177227
20210407  420659  2642404   980645  941563  ...  84016  210436  23327  174135
20210408  426583  2656021   987488  940155  ...  84838  207288  23140  179949
20210409  444916  2752535  1042213  965529  ...  85941  213234  28176  182190
20210410  318880  1799462   717996  678842  ...  66409  149043  20746  155747
20210411  227581  1229689   486328  472033  ...  51933  107415  18876  118139
20210412  392123  2489724   931407  884700  ...  80715  194665  21466  161523
20210413  416652  2599513   967723  924455  ...  83334  203604  22117  171635
20210414  421747  2626008   976170  934097  ...  85287  203895  24364  174078
20210415  425833  2624755   980511  935335  ...  84927  205824  22366  180345
20210416  416799  2638158   995999  925199  ...  80303  201377  23954  168334
20210417  293301  1699373   666580  629724  ...  59531  137797  19596  134228
20210418  220445  1185286   474673  457909  ...  51153  103004  16527  116754
20210419  414515  2520031   941512  902417  ...  83385  202308  24283  170731
20210420  422250  2607315   978034  930095  ...  84840  206665  22430  180385
20210421  420398  2630227   980371  931605  ...  84373  206048  22907  176190
20210422  419360  2612060   981384  922469  ...  83695  202664  23486  173788
20210423  434636  2698513  1027192  946954  ...  83745  207309  26647  181911
20210424  307680  1733182   694198  656684  ...  62501  144662  23622  144405
20210425  222413  1199414   481112  462165  ...  50712  105153  18057  120585
20210426  415725  2570285   965594  912894  ...  85658  205529  24257  174625
20210427  418687  2620679   978138  931976  ...  85176  205206  23842  175009
20210428  422061  2656424   981731  939707  ...  84603  206744  23268  178357
20210429  419459  2664833   989737  942792  ...  86232  207957  26227  174762
20210430  435543  2756942  1038043  967564  ...  84370  209721  27114  181985

[30 rows x 25 columns]

In [42]:
p.corr()

노선명            1호선       2호선       3호선  ...       일산선       장항선       중앙선
노선명                                     ...
1호선       1.000000  0.995381  0.996199  ...  0.996838  0.845066  0.985851
2호선       0.995381  1.000000  0.998562  ...  0.997647  0.827082  0.971103
3호선       0.996199  0.998562  1.000000  ...  0.995709  0.841941  0.975299
4호선       0.997195  0.999274  0.998321  ...  0.998797  0.827144  0.976276
5호선       0.994938  0.997728  0.994383  ...  0.998531  0.810809  0.972345
6호선       0.997546  0.999025  0.998490  ...  0.997906  0.832224  0.977604
7호선       0.994569  0.997908  0.994793  ...  0.998560  0.808883  0.971682
8호선       0.993006  0.998521  0.995544  ...  0.997375  0.820468  0.964965
9호선       0.994605  0.999296  0.997582  ...  0.996927  0.826089  0.968087
9호선2~3단계  0.990822  0.997812  0.993706  ...  0.996300  0.803507  0.964372
경강선       0.996539  0.992120  0.994865  ...  0.991847  0.860696  0.985250
경부선       0.994947  0.994101  0.997091  ...  0.991378  0.865988  0.978446
경원선       0.996198  0.986426  0.989485  ...  0.990539  0.854450  0.993857
경의선       0.993888  0.993946  0.990089  ...  0.996352  0.823017  0.975345
경인선       0.997805  0.996374  0.996898  ...  0.997495  0.838598  0.981565
경춘선       0.951585  0.926831  0.930625  ...  0.938682  0.828116  0.977333
공항철도 1호선  0.992498  0.990991  0.991097  ...  0.988751  0.852894  0.976889
과천선       0.996072  0.993051  0.991323  ...  0.996635  0.821446  0.980770
분당선       0.995217  0.998129  0.998392  ...  0.995927  0.850305  0.970710
수인선       0.994299  0.988142  0.987822  ...  0.991950  0.844238  0.985619
안산선       0.996961  0.990704  0.991622  ...  0.994863  0.832530  0.987772
우이신설선     0.993565  0.989061  0.986100  ...  0.994377  0.819056  0.982451
일산선       0.996838  0.997647  0.995709  ...  1.000000  0.822841  0.976969
장항선       0.845066  0.827082  0.841941  ...  0.822841  1.000000  0.835693
중앙선       0.985851  0.971103  0.975299  ...  0.976969  0.835693  1.000000

[25 rows x 25 columns]

In [66]:
a = p.corr().abs()

s = a.unstack()
so = s.sort_values(kind="quicksort")
print(so[:-25])

노선명       노선명
9호선2~3단계  장항선         0.803507
장항선       9호선2~3단계    0.803507
7호선       장항선         0.808883
장항선       7호선         0.808883
5호선       장항선         0.810809
                        ...
9호선       2호선         0.999296
6호선       4호선         0.999494
4호선       6호선         0.999494
5호선       7호선         0.999516
7호선       5호선         0.999516
Length: 600, dtype: float64

In [67]:
print("5호선 7호선 0.999516")

5호선 7호선 0.999516

# 3. 문제 월별 각호선의 퇴근시간 (18~19시)의 승차 ,하차 인원의 합을 예측하라 지표 MSLE

In [68]:
from google.colab import drive
drive.mount('/content/drive/')
import pandas as pd 
train = pd.read_csv('/content/drive/MyDrive/빅분기실기스터디/문제/data/train_3rd.csv')
test = pd.read_csv('/content/drive/MyDrive/빅분기실기스터디/문제/data/test_3rd.csv')
sub = pd.read_csv('/content/drive/MyDrive/빅분기실기스터디/문제/data/submisson.csv')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [85]:
train.set_index('사용월')

        호선명 지하철역  04시-05시 승차인원  ...  03시-04시 승차인원  03시-04시 하차인원  퇴근시간대인원
사용월                             ...
202012  1호선  동대문           692  ...             0             0    33622
202012  1호선  동묘앞           102  ...             0             0    23382
202012  1호선  서울역           581  ...             0             0   193191
202012  1호선   시청            24  ...             0             0   118638
202012  1호선  신설동           316  ...             0             0    71091
...     ...  ...           ...  ...           ...           ...      ...
201501  중앙선  운길산             0  ...             0             0     3522
201501  중앙선   원덕             1  ...             0             0     1284
201501  중앙선   중랑            14  ...             0             0    27946
201501  중앙선   팔당             0  ...             0             0     2439
201501  중앙선   회기           436  ...             0             0   135257

[41699 rows x 51 columns]

In [73]:
test

         사용월  호선명 지하철역  ...  02시-03시 하차인원  03시-04시 승차인원  03시-04시 하차인원
0     202105  1호선  동대문  ...             1             0             0
1     202105  1호선  동묘앞  ...             0             0             0
2     202105  1호선  서울역  ...             0             0             0
3     202105  1호선   시청  ...             0             0             0
4     202105  1호선  신설동  ...             0             0             0
...      ...  ...  ...  ...           ...           ...           ...
3026  202101  중앙선   원덕  ...             0             0             0
3027  202101  중앙선   중랑  ...             0             0             0
3028  202101  중앙선   지평  ...             0             0             0
3029  202101  중앙선   팔당  ...             0             0             0
3030  202101  중앙선   회기  ...             0             0             0

[3031 rows x 49 columns]

In [70]:
sub

        사용월    호선명  퇴근시간대인원
0    202101    1호선        0
1    202101    2호선        0
2    202101    3호선        0
3    202101    4호선        0
4    202101    5호선        0
..      ...    ...      ...
120  202105    안산선        0
121  202105  우이신설선        0
122  202105    일산선        0
123  202105    장항선        0
124  202105    중앙선        0

[125 rows x 3 columns]

In [74]:
train['퇴근시간대인원'] = train['18시-19시 승차인원'] + train['18시-19시 하차인원']

In [90]:
t = train.groupby(['사용월', '호선명'], as_index=False).sum()

In [109]:
x = test.groupby(['사용월', '호선명'], as_index=False).sum()

In [125]:
x_train = t.iloc[:,1:-1]
x_train = x_train.drop(['18시-19시 승차인원', '18시-19시 하차인원'], axis=1)

In [126]:
x_test = x.iloc[:,1:]

In [116]:
y_train = t['퇴근시간대인원']

In [127]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
x_train['호선명'] = le.fit_transform(x_train['호선명'])
x_train

      호선명  04시-05시 승차인원  04시-05시 하차인원  ...  02시-03시 하차인원  03시-04시 승차인원  03시-04시 하차인원
0       0          3594           127  ...             2             0             0
1       1         14118           237  ...             8             6            11
2       2          1363            93  ...             2             2             2
3       3          3186            83  ...             6            15            18
4       4           395             2  ...             1             0             0
...   ...           ...           ...  ...           ...           ...           ...
1741   21          3193            46  ...             0             0             0
1742   22            29             6  ...             3             0             0
1743   23          1075            11  ...             0             0             0
1744   24           806             3  ...             0             0             0
1745   25          3812            46  ...             0             0             0

[1746 rows x 47 columns]

In [128]:
x_test['호선명'] = le.transform(x_test['호선명'])
x_test

     호선명  04시-05시 승차인원  04시-05시 하차인원  ...  02시-03시 하차인원  03시-04시 승차인원  03시-04시 하차인원
0      0          2872            57  ...             0             0             0
1      1          9766           110  ...             5             0             0
2      2          1404            70  ...             3             0             0
3      3          2776            77  ...             0             0             0
4      4           587             6  ...             0             0             0
..   ...           ...           ...  ...           ...           ...           ...
120   21          3397            33  ...             0             0             0
121   22            35             1  ...             0             0             0
122   23          1348            18  ...             0             0             0
123   24           989             6  ...             0             0             0
124   25          5032            50  ...             0             0             0

[125 rows x 47 columns]

In [133]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(x_train, y_train)
lr.score(x_train, y_train)

0.9997316054845156

In [134]:
predict = lr.predict(x_test)

In [135]:
from sklearn.metrics import mean_squared_log_error
ans = pd.read_csv('/content/drive/MyDrive/빅분기실기스터디/문제/data/sub.csv')
mean_squared_log_error(ans['퇴근시간대인원'], predict)

0.006423406405898185

In [142]:
from xgboost import XGBRegressor

xgb = XGBRegressor()
xgb.fit(x_train, y_train)
xgb.score(x_train, y_train)

[12:41:47] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

0.9996170118364429

In [143]:
predict = xgb.predict(x_test)

In [144]:
from sklearn.metrics import mean_squared_log_error
ans = pd.read_csv('/content/drive/MyDrive/빅분기실기스터디/문제/data/sub.csv')
mean_squared_log_error(ans['퇴근시간대인원'], predict)

0.009599202389097722

In [149]:
from sklearn import ensemble

In [153]:
MLA = [
    #Ensemble Methods
    ensemble.AdaBoostRegressor(),
    ensemble.BaggingRegressor(),
    ensemble.ExtraTreesRegressor(),
    ensemble.GradientBoostingRegressor(),
    ensemble.RandomForestRegressor()
]

In [157]:
MLA_columns = ['MLA Name', 'MLA MSLE']
MLA_compare = pd.DataFrame(columns = MLA_columns)

In [158]:
row_index = 0
for i in MLA:
    model = i
    model.fit(x_train,y_train)
    y_predict = model.predict(x_test)
    MLA_compare.loc[row_index, 'MLA Name'] = str(model).split('(')[0]
    MLA_compare.loc[row_index, 'MLA MSLE'] = mean_squared_log_error(ans['퇴근시간대인원'], y_predict)
    row_index += 1

In [160]:
MLA_compare.sort_values(by=['MLA MSLE'], ascending=True)

                    MLA Name     MLA MSLE
2        ExtraTreesRegressor  0.000909311
4      RandomForestRegressor   0.00196814
1           BaggingRegressor   0.00280388
3  GradientBoostingRegressor   0.00813902
0          AdaBoostRegressor     0.289666